#Logo {
  transform: scale(2.5);
  margin-bottom: 100px;
  padding-right: 100px;
}

.svg-container {
  stroke-width: 5;
}

@media screen and (max-width: 1440px) {
  #Logo {
    transform: scale(2);
    position: relative;
    left: 150px;
    top: 100px;
  }
}

@media screen and (max-width: 1015px) {
  #Logo {
    transform: scale(2);
  }
}
